.AppHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background-color: darkblue;
  z-index: 100;
}

.ChatBubbleParent {
  position: fixed;
  top: 3vh;
  left: 5vh;
}
.ChatBubble {
  color: blueviolet;
  transform: scale(2);
}
.AccountIconParent {
  position: fixed;
  top: 3vh;
  right: 5vh;
  float: right;
}

.AccountIcon {
  color: blueviolet;
  transform: scale(2);
}

h1 {
  display: flex;
  justify-content: center;
  color: blueviolet;
  position: relative;
  top: -5vh;
}
