.TextBox {
  position: relative;
  top: 0vh;
  right: 5vw;
  left: 22vw;
  z-index: 90;
  width: 70%;
  border: 2px solid blueviolet;
  padding: 10px;
  border-radius: 500px;
  background-color: transparent;
  color: blueviolet;
  opacity: 1;
}

.Send {
  position: relative;
  top: 0vh;
  right: 2vw;
  left: 23vw;
  z-index: 90;
  border: 2px solid blueviolet;
  padding: 10px;
  border-radius: 500px;
  background-color: transparent;
}
