.main {
  position: relative;
  top: 10rem;
  display: flex;
  justify-content: center;
}

.main h1 {
  color: #5ce1e6;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.main p {
  color: #cb6ce6;
  width: 80%;
  margin: auto;
  font-size: 1.2em;
  margin-bottom: 10rem;
}
