body {
  background-color: black;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 160, 160);
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 15vh;
  margin-left: 5vw;
}

header ul {
  display: flex;
  list-style-type: none;
}

.headercat {
  margin-right: 10vw;
  font-size: 2em;
  position: relative;
  top: 3vh;
}

.headercat a {
  text-decoration: none;
  color: #c800ff;
}
