.Logo {
  margin-left: 2vw;
  height: 5rem;
  z-index: 999;
}

.header {
  position: fixed;
  top: 1.5rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  background-color: white;
  z-index: 999;
}

.nav {
  font-size: 1.2em;
  margin-left: 5vw;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  color: #211e5e;
}

.redbar {
  position: fixed;
  top: 7.5rem;
  left: 0;
  right: 0;
  background-color: #a72120;
  height: 0.7rem;
  z-index: 999;
}

.yellowbar {
  position: fixed;
  top: 8.2rem;
  left: 0;
  right: 0;
  background-color: #d0c537;
  height: 0.3rem;
  z-index: 999;
}

.search {
  height: 1.5rem;
  z-index: 999;
}

.navparent {
  z-index: 999;
  position: fixed;
  top: 2rem;
  right: 0;
  margin-right: 5vw;
}

.expand {
  position: fixed;
  top: 3.5rem;
}

.redbar2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 59, 59);
  height: 1.5rem;
  z-index: 999;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(30, 30, 70, 0.874);
  height: 50rem;
  width: 100%;
  overflow-x: clip;
  margin-top: 5rem;
}

.mrlbr {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 0px 0px 3px #bcbcbc;
  font-style: italic;
  position: relative;
  top: 3rem;
}

.aboutus {
  display: flex;
  flex-direction: column;
  color: lightgray;
}

.footerinfo {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 5rem;
}

.buildmats {
  display: flex;
  flex-direction: column;
  color: lightgray;
}
.contract {
  display: flex;
  flex-direction: column;
  color: lightgray;
}
.storserv {
  display: flex;
  flex-direction: column;
  color: lightgray;
}
.moorelbrlogo {
  height: 4vw;
}
.socials {
  display: flex;
  flex-direction: column;
}

.social {
  display: inline-flex;
}

.social p {
  position: relative;
  top: 1rem;
  margin-left: 10px;
  color: lightgray;
}

.fa-square-facebook {
  color: #316ff6;
}
.fa-square-instagram {
  color: #cd486b;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-square-youtube {
  color: #cd201f;
}
.off-screen-menu {
  display: none;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1240px) {
  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-left: auto;
    overflow: visible;
    z-index: 100;
    position: fixed;
    top: 4vh;
  }

  .hamburger:hover {
    opacity: 0.7;
  }

  .hamburger.is-active:hover {
    opacity: 0.7;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #0077b5;
  }

  .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      opacity 0.1s linear;
  }

  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      opacity 0.1s 0.22s linear;
  }

  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger-box {
    width: 33px;
    height: 20px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #211e5e;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    z-index: 12;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    bottom: -10px;
  }
  .headercat {
    display: none;
  }
  .off-screen-menu {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 3rem;
    transform: 0.3s ease;
    z-index: 10;
    background-color: rgb(80, 80, 80/ 70%);
  }
  .off-screen-menu.active {
    left: 0;
  }
  .logo-parent {
    z-index: 11;
  }
  .logo {
    position: fixed;
    right: 0;
  }
  .header-link {
    display: flex;
    margin-top: 6rem;
    color: blue;
    text-decoration: none;
    font-size: 2em;
    opacity: 1;
  }

  .nav {
    display: none;
  }
  .navparent {
    display: none;
  }
  .Logo {
    position: fixed;
    right: 0;
  }
}
