body {
  background-color: darkgray;
  height: 100%;
  width: 100%;
}

.Logo {
  z-index: 999;
}

.header {
  z-index: 100;
}

.store {
  z-index: 10;
}
.text {
  z-index: 10;
}

header {
  z-index: 999999;
}
