.store {
  position: fixed;
  top: 25vh;
  left: 5vw;
  border-radius: 5%;
  height: 70vh;
}

.h2text {
  display: flex;
  justify-content: center;
  color: #211e5e;
}

.ptext {
  display: flex;
  justify-self: center;
  text-align: center;
  font-size: large;
  color: #211e5e;
}

.text {
  position: fixed;
  top: 26vh;
  right: 0;
  margin-right: 2vw;
  width: 30vw;
}

h1 {
  position: fixed;
  top: 16vh;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #a72120;
  font-weight: bold;
}
