.AboutStore {
  height: 50rem;
}
.store {
  position: relative;
  top: 15rem;
  left: 5vw;
  border-radius: 5%;
  height: 35rem;
  width: auto;
}

.h2text {
  display: flex;
  justify-content: center;
  color: #211e5e;
}

.ptext {
  display: flex;
  justify-self: center;
  text-align: center;
  font-size: large;
  color: #211e5e;
}

.text {
  position: relative;
  top: 16rem;
  right: 0;
  margin-right: 2vw;
  width: 30rem;
}

h1 {
  position: relative;
  top: 10rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #a72120;
  font-weight: bold;
}
