.Logo {
  margin-left: 2vw;
  height: 5rem;
}

.header {
  position: fixed;
  top: 1.5rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: end;
  padding-left: 2vw;
  position: relative;
  top: -2rem;
  font-size: 20px;
  font-weight: bold;
  margin-left: 3vw;
  text-wrap: nowrap;
}

.redbar {
  position: fixed;
  top: 7.5rem;
  left: 0;
  right: 0;
  background-color: #a72120;
  height: 0.8rem;
}

.yellowbar {
  position: fixed;
  top: 8.3rem;
  left: 0;
  right: 0;
  background-color: #d0c537;
  height: 0.6rem;
}

.search {
  height: 1.5rem;
}

.navparent {
  margin-right: 1vw;
}

.redbar2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 59, 59);
  height: 1.5rem;
}
